<style type="text/css">
  <% height = 80.0 %>
  <% width = height/Math.sqrt(3) %>
  <% margin = 5 + height/4.0 %>
  body {
    margin: 0;
  }
  .tile {
    position: relative;
    width: <%= width %>px;
    height: <%= height %>px;
    margin-left: <%= margin %>px;
  }
  <% road_height = 15 %>
  .road-marker {
    position: relative;
    top: <%= -road_height/2.0 %>px;
    height: <%= road_height %>px;
    width: <%= width - road_height %>px;
    margin: 0 auto;
    z-index: 2;
  }
  .road-marker.botleft {
    top: <%= height - road_height/2.0 %>px;
  }

  <% city_height = 30 %>
  .city-marker {
    float: left;
    z-index: 3;
    position: relative;
    top: <%= -city_height/2 %>px;
    left: <%= -city_height/2 %>px;
    width: <%= city_height %>px;
    height: <%= city_height %>px;
    border-radius: <%= city_height %>px;
  }

  .tile.water {
    background-color: cornflowerblue;
  }
  .tile.wheat {
    background-color: goldenrod;
  }
  .tile.sheep {
    background-color: yellowgreen;
  }
  .tile.wood {
    background-color: darkgreen;
  }
  .tile.ore {
    background-color: dimgray;
  }
  .tile.brick {
    background-color: firebrick;
  }
  .tile.desert {
    background-color: moccasin;
  }
  .hex.hover .tile {
    background-color: #ccc;
  }
  .hex:hover .tile {
    background-color: #ccc;
  }
  /*
  .city-marker:hover, .road-marker:hover {
    background-color: yellow;
    opacity: 0.15;
    border-radius: <%= city_height %>px;
  }*/
  .tile.first {
    -webkit-transform: rotateZ(60deg);
  }
  .tile.second {
    -webkit-transform: rotateZ(-60deg);
    top: <%= -1*height %>px;
  }
  .tile.third {
    top: <%= -2*height %>px;
  }
  .number {
    width: <%= height/2.0 %>px;
    height: <%= height/2.0 %>px;
    line-height: <%= height %>px;
    font-size: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: <%= -3*height %>px;
    color: white;
    left: <%= height/3.0 %>px;
    background-color: transparent;
  }
  .hex {
    height: 0px;
  }
  #chat {
    position: absolute;
    top: <%= @game.board.size*height %>px;
    width: <%= 2*margin + 10*width %>px;
    height: 200px;
    border-top: 1px solid #ccc;
  }
  #chat #message-area {
    height: 175px;
    background-color: #eee;
    padding: 1em;
    overflow: scroll;
  }
  #chat #message-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #chat form input {
    width: 100%;
  }
  #players {
    position: absolute;
    left: <%= 2*margin + 10*width %>px;
    top: 0;
    height: <%= 200 + @game.board.size*height %>px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 300px;
  }
  #players .player {
    width: 100%;
    <%#background-color: #f8f8f8;%>
    border-top: 1px solid #ccc;
    padding: 1em 0;
  }
  #players .player span {
    padding: 0 1em;
  }
  #players .player ul {
    list-style: none;
  }
  #players .player .buttons {
    padding: 0 2em;
  }
  button:hover:enabled {
    cursor: pointer;
  }
  #players .player.active .name {
    font-weight: bold;
  }
  #players .player.active .name:before {
    content: '*';
  }

  <% @game.board.hexes.flatten.each do |hex| %>
    .hex[data-coords=<%= "\"#{[hex.x, hex.y]}\""%>] {
      position: absolute;
      top: <%= hex.y*height + (hex.x-@game.board.side_length)*(height/2.0) %>px;
      left: <%= hex.x*height*Math.sqrt(3)/2.0 %>px;
    }
  <% end %>

  <% @game.players.each_with_index do |player, i| %>
    <%= "#p#{i}" %> {
      background-color: <%= player.color %>;
    }
  <% end %>
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      chat = document.getElementById('message-area');
      chat.scrollTop = chat.scrollHeight;

      $('.tile, .number').click(function() {
        console.log($(this).closest('.hex').data('coords'));
      });

      function hex(coords) {
        return $('.hex[data-coords="['+coords[0]+', '+coords[1]+']"]');
      }

      $('.city-marker, .road-marker').hover(
        function() {
          coords = $(this).data('coords');
          for (i = 0; i < coords.length; i++)
            hex(coords[i]).addClass('hover');
        },
        function () {
          coords = $(this).data('coords');
          for (i = 0; i < coords.length; i++)
            hex(coords[i]).removeClass('hover');
        }
      );
  });
</script>

<div id='players'>
  <% @game.players.each do |player| %>
    <%= erb :player, layout: false, locals: { player: player } %>
  <% end %>
</div>

<% @game.board.hexes.flatten.each do |hex| %>
  <% next if hex.x + hex.y < @game.board.side_length %>
  <% next if hex.x + hex.y > 3*@game.board.side_length %>
  <%= erb :hex, layout: false, locals: { hex: hex } %>
<% end %>

<div id='chat'>
  <div id='message-area'>
    <ul>
      <% @game.messages.each do |message| %>
        <% if message.is_a?(Array) %>
          <li> <%= message.join(': ') %> </li>
        <% else %>
          <li> <%= message %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <form action='/messages' method='post'>
    <input type='text' name='message' placeholder='message...'>
  </form>
</div>
