<%= erb :jquery %>
<%= erb :javascript %>
<%= erb :stylesheet %>

<div id='players'>
  <% @game.players.each do |player| %>
    <%= erb :player, layout: false, locals: { player: player } %>
  <% end %>
</div>

<div id='last-roll'> <%= @game.last_roll %> </div>

<% @game.board.hexes.flatten.each do |hex| %>
  <% next if hex.x + hex.y < @game.board.side_length %>
  <% next if hex.x + hex.y > 3*@game.board.side_length %>
  <%= erb :hex, layout: false, locals: { hex: hex } %>
<% end %>

<div id='chat'>
  <div id='message-area'>
    <ul>
      <% @game.messages.each do |message| %>
        <% if message.is_a?(Array) %>
          <li> <%= message.join(': ') %> </li>
        <% else %>
          <li> <%= message %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <form action='/messages' method='post'>
    <input type='text' name='message' placeholder='message...'>
  </form>
</div>
