<div id='players'>
  <% @game.players.each do |player| %>
    <%= erb :player, layout: false, locals: { player: player } %>
  <% end %>
  <div id='message-area'><%= erb :messages %></div>
</div>

<div id='last-roll'> <%= @game.last_roll %> </div>
<%
  modal = "
    <form action='/new_game' id='new-game-form' method='post'>
      <input type='number' min='2' max='13' width='100%' name='game[board_size]' placeholder='size' autocomplete='off'>
      <br>
      <input type='number' min='1' name='game[n_players]' placeholder='players' autocomplete='off'>
      <br>
      <input type='submit'>
      <button class='minimodal-cancel'>Cancel</button>
    </form>
  "
%>
<a href='#' id='new-game' data-action='minimodal' data-html="<%= modal %>">New Game</a>

<div id='hexes'>
<% @game.board.hexes.flatten.each do |hex| %>
  <% next if hex.x + hex.y < @game.board.side_length %>
  <% next if hex.x + hex.y > 3*@game.board.side_length %>
  <%= erb :hex, layout: false, locals: { hex: hex } %>
<% end %>
</div>
