<html>
  <head>
    <title>Settlers of Catan</title>
    <%= erb :jquery %>
    <%= erb :minimodal %>
    <%= erb :javascript %>
    <%= erb :stylesheet %>
  </head>
  <body>
    <div id='board'> <%= erb :board %> </div>
    <div id='error-area'><span id='error'></span></div>
    <div id='chat'>
      <form action='/messages' method='post'>
        <input type='text' name='message' placeholder='message...'>
        <input type='hidden' name='color' value='<%= @player.color %>'>
      </form>
    </div>
    <div id='text-instructions'>
      You can also download the <a href='https://github.com/asross/settlers'>text client</a> and run:
      <pre id='console-snippet'>GAME_URL=MY_APP_URL/games/<%= @game.id %> bundle exec ruby text/client.rb</pre>
      <script>
        var s = document.getElementById('console-snippet');
        s.innerText = s.innerText.replace('MY_APP_URL', location.protocol + '//' + location.host);
      </script>
    </div>
  </body>
</html>
