<html>
  <head>
    <title>Settlers of Catan</title>
    <%= erb :jquery %>
    <%= erb :minimodal %>
    <%= erb :javascript %>
    <%= erb :stylesheet %>
  </head>
  <body>
    <div id='board'> <%= erb :board %> </div>
    <div id='error-area'><span id='error'></span></div>
    <div id='chat'>
      <form action='/messages' method='post'>
        <input type='text' name='message' placeholder='message...'>
        <input type='hidden' name='color' value='<%= @current_player.color %>'>
      </form>
    </div>
  </body>
</html>
