<html>
  <head>
    <title>Settlers of Catan</title>
    <%= erb :jquery %>
    <%= erb :minimodal %>
    <style>
      .cf:before, .cf:after {
        content: " ";
        display: table;
      }
      .cf:after {
        clear: both;
      }
      body {
        background: url(images/catanbox.jpg);
        background-size: cover;
        font-family: monospace;
        background-repeat: no-repeat;
      }
      body, h1 {
        margin: 0;
      }
      a {
        font-weight: bold;
      }
      a:hover {
        font-weight: bolder;
      }
      td {
        text-align: right;
      }
      button, input {
        background: beige;
      }
      .game-list-wrapper {
        background: burlywood;
        border: 5px solid gold;
        box-shadow: 1px 1px black;
        margin: 0 auto;
        width: 33vw;
        margin-top: 20vh;
        max-height: 60vh;
        overflow-y: scroll;
        padding: 1em;
      }
      button, input {
        cursor: pointer;
        font-family: monospace;
      }
      td, th {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid;
      }
    </style>
  </head>
  <body>
    <%
      modal = "
        <form action='/games' id='new-game-form' method='post'>
          Size <input type='number' min='2' max='13' name='game[board_size]' placeholder='size' autocomplete='off' value='3'>
          <br>
          Players <input type='number' min='1' max='7' name='game[n_players]' placeholder='players' autocomplete='off' value='3'>
          <br>
          <input type='submit'>
          <button class='minimodal-cancel'>Cancel</button>
        </form>
      "
    %>
    <div class='game-list-wrapper'>
    <h1>Active Games</h1>
    <br>
    <% if @games.length > 0 %>
      <table>
        <thead>
          <tr>
            <th>Game</th>
            <th>Started at</th>
            <th>Players</th>
            <th>Board Size</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td><a href='/games/<%= game.id %>'>Join</a></td>
              <td><%= game.started_at.strftime('%r') %></td>
              <td><%= game.players.length %></td>
              <td><%= game.board.side_length %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    <% else %>
      None
      <br>
      <br>
    <% end %>
    <button id='new-game' data-action='minimodal' data-html="<%= modal %>">New Game</button>
    </div>
  </body>
</html>
