<div class='hex' id='<%= "h#{hex.x}-#{hex.y}" %>'>
  <div class='tile first <%= hex.type %>'></div>
  <div class='tile second <%= hex.type %>'></div>
  <div class='tile third <%= hex.type %>'></div>
  <div class='number'><%= hex.number %></div>
</div>
