<% here    = [hex.x,   hex.y  ] %>
<% top     = [hex.x,   hex.y-1] %>
<% topleft = [hex.x-1, hex.y  ] %>
<% botleft = [hex.x-1, hex.y+1] %>

<div class='hex' data-coords='<%= here %>'>
  <%= erb :road, layout: false, locals: { coords: [botleft, here], klass: 'botleft' } %>
  <%= erb :road, layout: false, locals: { coords: [topleft, here], klass: 'topleft' } %>
  <%= erb :road, layout: false, locals: { coords: [top, here], klass: 'top' } %>
  <div class='tile first <%= hex.type %>'>
  </div>
  <div class='tile second <%= hex.type %>'>
    <%= erb :city, layout: false, locals: { coords: [topleft, botleft, here] } %>
  </div>
  <div class='tile third <%= hex.type %>'>
    <%= erb :city, layout: false, locals: { coords: [topleft, top, here] } %>
  </div>
  <% if hex.robbed %>
    <% if hex.type == 'desert' %>
      <div class='number robbed' title='This is the robber. When a player rolls a 7 or plays a knight, they can move the robber to another hex, where it will block resource production (and potentially let the player steal a resource).'> r </div>
    <% else %>
      <div class='number robbed' title='The robber is currently preventing this hex from producing resources when a <%= hex.number %> is rolled.'> r </div>
    <% end %>
  <% elsif hex.port? %>
    <div class='port <%= hex.port_direction %>'>
      <% if hex.port_type == '3:1' %>
        <div class='label' title='This is a 3:1 port. Building a settlement next to it lets you trade any 3 of the same resource for 1 of any other.'><%= hex.port_type %></div>
      <% else %>
        <div class='label' title='This is a <%= hex.port_type %> port. Building a settlement next to it lets you trade 2 <%= hex.port_type %> for 1 of any other resource.'><%= hex.port_type %></div>
      <% end %>
    </div>
  <% else %>
    <div class='number'><%= hex.number %></div>
  <% end %>
</div>
