<% here    = [hex.x,   hex.y  ] %>
<% top     = [hex.x,   hex.y-1] %>
<% topleft = [hex.x-1, hex.y  ] %>
<% botleft = [hex.x-1, hex.y+1] %>

<div class='hex' data-coords='<%= here %>'>
  <%= erb :road, layout: false, locals: { coords: [botleft, here], klass: 'botleft' } %>
  <%= erb :road, layout: false, locals: { coords: [topleft, here], klass: 'topleft' } %>
  <%= erb :road, layout: false, locals: { coords: [top, here], klass: 'top' } %>
  <div class='tile first <%= hex.type %>'>
  </div>
  <div class='tile second <%= hex.type %>'>
    <%= erb :city, layout: false, locals: { coords: [topleft, botleft, here] } %>
  </div>
  <div class='tile third <%= hex.type %>'>
    <%= erb :city, layout: false, locals: { coords: [topleft, top, here] } %>
  </div>
  <% if hex.robbed %>
    <div class='number robbed'> r </div>
  <% elsif hex.port? %>
    <div class='port <%= hex.port_direction %>'>
      <div class='label'><%= hex.port_type %></div>
    </div>
  <% else %>
    <div class='number'><%= hex.number %></div>
  <% end %>
</div>
