<% i = @game.players.index(player) %>

<div id='p<%=i%>' class='player <%= 'active' if player == @game.active_player %> <%= 'current' if player == @player %>'>

  <span style='float: right;'><a href='/?color=<%= player.color %>'>be</a></span>
  <span class='name'>
    <%= player.color %>
  </span>
  <%= player.points %> VP
  <span>
    <%= player.resource_cards.count %> resources
  </span>

  <% if player == @player %>
    <div class='info'>
      <ul>
        <% Player::RESOURCE_CARDS.each do |resource| %>
          <li>
          <%= player.send(resource) %>
          <%= resource %>
          </li>
        <% end %>
      </ul>
      <div class='buttons'>
        <% available = @game.available_actions(@player) %>
        <% Game::ACTIONS.each do |action| %>
          <% if available.include?(action) %>
            <button id='<%= action %>'> <%= action %> </button>
          <% else %>
            <button disabled='disabled'> <%= action %> </button>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

