<% div_class = 'player' %>
<% div_class += ' active' if player == @game.active_player %>

<div class='<%= div_class %>' data-color='<%= player.color %>'>
  <span style='float: right;'><a href='/?color=<%= player.color %>'>be</a></span>
  <span class='name'><%= player.color %></span>
  <%= player.points %> VP
  <span>
    <%= player.resource_cards.count %> resources
  </span>

  <div class='info'>
    <ul>
      <% Player::RESOURCE_CARDS.each do |resource| %>
        <li>
        <%= player.send(resource) %>
        <%= resource %>
        </li>
      <% end %>
    </ul>
    <div class='buttons'>
      <% available = @game.available_actions(player) %>
      <% Game::ACTIONS.each do |action| %>
        <% if available.include?(action) %>
          <button id='<%= action %>'> <%= action %> </button>
        <% else %>
          <button disabled='disabled'> <%= action %> </button>
        <% end %>
      <% end %>

      <div id='trade-widget'>
        <select name='resource1'>
          <% Player::RESOURCE_CARDS.each do |resource| %>
            <option><%= resource %></option>
          <% end %>
        </select>
        &mdash;&gt;
        <select name='resource2'>
          <% Player::RESOURCE_CARDS.each do |resource| %>
            <option><%= resource %></option>
          <% end %>
        </select>
        <button id='trade-submit'>submit</button>
      </div>
    </div>
  </div>
</div>
