<% div_class = 'player' %>
<% div_class += ' active' if player == @game.active_player %>

<div class='<%= div_class %>' data-color='<%= player.color %>'>
  <span style='float: right;'><a href='/?color=<%= player.color %>'>be</a></span>
  <span class='name'><%= player.color %></span>
  <%
    def pluralize(l, n)
      str = "#{n} #{l}"
      str += 's' if n != 1
      str
    end
    ncards = player.development_cards.count{|c| !c.played }
    nknights = player.knights_played
    nresources = player.resource_cards.count
    data = []
    data << pluralize('resource', nresources)
    data << pluralize('card', ncards) if ncards > 0
    data << pluralize('knight', nknights) if nknights > 0
    data << pluralize('VP', @game.display_points(player))
    data << 'longest road' if player == @game.longest_road_player
    data << 'largest army' if player == @game.largest_army_player
  %>
  <select>
    <% data.each do |datum| %>
      <option>
        <%= datum %>
      </option>
    <% end %>
  </select>

  <div class='info'>
    <%= erb :resource_list, locals: { resources: player.resource_cards } %>

    <% if player.development_cards.any? %>
      <ul class='clearfix'>
        <% player.development_cards.sort_by(&:type).each do |card| %>
          <% klass = "dev-card #{card.type}" %>
          <% klass += ' used' if card.played %>
          <% klass += ' new' if card.turn_purchased == @game.turn && card.type != :victory_point %>
          <li class='<%= klass %>'><%= card.type.to_s.gsub('_', ' ') %></li>
        <% end %>
      </ul>
    <% end %>

    <div class='buttons'>

      <% if request = @game.trade_requests[player.color] %>
        <div class='trade-request'>
          <%= @game.active_player.color %>
          is offering their
          <%= erb :resource_list, locals: { resources: request[0] } %>
          for your
          <%= erb :resource_list, locals: { resources: request[1] } %>
        </div>
      <% end %>

      <% @game.available_actions(player).each do |action| %>
        <button id='<%= action %>'> <%= action.to_s.gsub('_', ' ') %> </button>
      <% end %>

      <div class='widget' id='year_of_plenty-widget'>
        <%= erb :resource_select, locals: { name: 'resource1' } %>
        <%= erb :resource_select, locals: { name: 'resource2' } %>
        <button id='year-of-plenty-submit'>submit</button>
      </div>

      <div class='widget' id='monopoly-widget'>
        <%= erb :resource_select, locals: { name: 'resource' } %>
        <button id='monopoly-submit'>submit</button>
      </div>

      <div class='widget' id='trade_in-widget'>
        <%= erb :resource_select, locals: { name: 'resource1' } %>
        &mdash;&gt;
        <%= erb :resource_select, locals: { name: 'resource2' } %>
        <button id='trade-submit'>submit</button>
      </div>

      <div class='widget' id='discard-widget'>
        <% Player::RESOURCE_CARDS.each do |resource| %>
          <input type='number' min='0' step='1' name='<%= resource %>'>
          <label for='<%= resource %>'><%= resource %></label>
        <% end %>
        <button id='discard-submit'>submit</button>
      </div>

      <div class='widget' id='request_trade-widget'>
        My:
        <div class='my-resources'>
          <% Player::RESOURCE_CARDS.each do |resource| %>
            <input type='number' min='0' step='1' name='<%= resource %>'>
            <label for='<%= resource %>'><%= resource %></label>
          <% end %>
        </div>
        For:
        <select>
          <% @game.players.each do |p| %>
            <% next if p == player %>
            <option value='<%= p.color %>'><%= p.color %></option>
          <% end %>
        </select>'s
        <div class='your-resources'>
          <% Player::RESOURCE_CARDS.each do |resource| %>
            <input type='number' min='0' step='1' name='<%= resource %>'>
            <label for='<%= resource %>'><%= resource %></label>
          <% end %>
        </div>
        <button id='request-trade-submit'>submit</button>
      </div>
    </div>
  </div>
</div>
